<div class="row app-container p-2" style="background-color: rgb(133, 187, 131);">
    <div class="col-lg-10 offset-md-0  centerTest">
        <img src="assets/focus.jpg" style="width:100x;height:50px;margin-left:5px;margin-top: 5px; ">


    </div>
    <div style=" text-align: right;  ">
        <span id="text" class="p-2" style="font-weight: bold;color:  aliceblue;">
        </span>
    </div>


</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/lmscalendar">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/applyleave">Apply Leave</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/timesheet">Fill Timesheet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/leavehistory">Revert/Cancel Applied Leaves</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="#">Apply Coordinators Leave</a>
    </li>

</ul>
